<a href="https://colab.research.google.com/github/meghana550/coding/blob/master/super30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#converting double digits into single digits
nums=[9,81,72]

s=""

for i in nums:

    s+=str(i)

res=[]

for i in s:

    res.append(int(i))

print(res)

[9, 8, 1, 7, 2]

printing 0's at the end

In [ ]:
nums=[0,1,2,4,0,8,0]
n1=[]
n2=[]
for i in nums:
    if i==0:
        n1.append(i)
    else:
        n2.append(i)
print(n2+n1)

[1, 2, 4, 8, 0, 0, 0]

checking the if condition statements

In [ ]:
n=int(input())
if n%2==0:
  if n>6 and n<=20:
    print("weired")
  else:
    print("Not weired")
else:
  print("weird")

8
weired

print 0's in the middle

In [ ]:
nums=[0,1,2,4,0,8,0]
n1=[]
n2=[]
for i in nums:
  if i==0:
    n1.append(i)
  else:
    n2.append(i)
  k=int(len(n2)/2)
  p=n2[:k]
  p1=n2[k:]
print(p+n1+p1)

[1, 2, 0, 0, 0, 4, 8]

square of a number

In [2]:
n=int(input())
for i in range(n+1):
  print(i**2,end=" ")

2
0 1 4

reverse string using split method

In [7]:
s="welcome to india".split()
n=" "
for i in s[::-1]:
  n+=i+" "
st=n[: -1]
print(st)

 india to welcome